.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 12px;
  color: white;
  margin-bottom: 1.5rem;

  &.bullish {
    background: linear-gradient(135deg, #0f9d58, #0cbf7d);
  }

  &.bearish {
    background: linear-gradient(135deg, #d93025, #e4604d);
  }

  &.condor {
    background: linear-gradient(135deg, #6f42c1, #a472ff);
  }

  .left {
    flex: 1;

    h2 {
      display: flex;
      gap: 8px;
      align-items: center;
      margin: 0;
      font-size: 21px;

      .token {
        margin-left: 0.5rem;
        font-size: 11px;
        padding: 2px 7px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
      }
      .icon {
        padding: 5px 7px;
        line-height: 1;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .metrics {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      margin-top: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;

        small {
          font-size: 0.75rem;
          opacity: 0.8;
        }

        strong {
          font-size: 1.1rem;
        }

        .ready {
          font-size: 0.7rem;
          color: #c8f9d0;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 160px;

    small {
      font-size: 12px;
      opacity: 0.8;
    }

    strong {
      font-size: 26px;
    }

    span {
      display: block;
      font-size: 12px;
      opacity: 0.9;
    }
  }
}